ul.nav {
    list-style: none;
    float: left;

    li {
        padding: 0 0.5em;

        a {
            color: #ccc;
            text-decoration: none;

            &.active, &:hover {
                color: #fff !important;
            }
        }
    }
}